<template>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Records
        <small>Update record</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
     <div class="row">
      <div class="col-md-6">
           <!-- Input addon -->
           <div class="box box-success">
             <!-- <div class="box-header with-border">
               <h3 class="box-title">Input Addon</h3>
             </div> -->
             <div class="box-body">
	            	<form action="#"  @submit.prevent="submitForm()" autocomplete="off">
		              <div class="row">
		              	<div class="col-md-12">
		              		<h4 >Personal Information</h4>
		              	</div>
		              	<div class="col-md-12">
                           <div class="form-group">
                              <label for="LastName">Full Name</label>
                              <input class="form-control" data-val="true" id="last_name" name="fullname" v-model="records_data.full_name" type="text"   required />
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="form-group">
                              <label for="FirstName">Barangay</label>
                              <select v-model="records_data.barangay" class="form-control" required>
                              	<option :value="val.brgyDesc" v-for="(val,index) in barangay" :key="index">{{val.brgyDesc}}</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-md-5">
                           <div class="form-group">
                              <label for="LastName">Age</label>
                              <select v-model="records_data.age" class="form-control" required>
                              	<option value="15-20" >15-20</option>
                              	<option value="20-25">20-25</option>
                              	<option value="25-30">25-30</option>
                              	<option value="Optional">Optional</option>
                              </select>
                           </div>
                        </div>

                         <div class="col-md-7">
                           <div class="form-group">
                              <label for="MiddleName">Optional (Please indicate...):</label>
                              <input class="form-control" type="text"  name="optional_age" v-model="records_data.optional_age" v-if="(records_data.age == 'Optional')"/>
                              <input class="form-control" type="text"  name="optional_age" v-model="records_data.optional_age" disabled v-else/>
                           </div>
                        </div>
		              </div>
		              <div class="row">	
		              	<div class="col-md-5">
	                     <div class="form-group">
	                        <label for="MiddleName">Employed</label>
	                        <select v-model="records_data.employed" class="form-control" required>
	                        	<option value="Student">Student</option>
	                        	<option value="Yes" >Yes</option>
	                        	<option value="No">No</option>
	                        	<option value="Optional">Optional</option>
	                        </select>
	                     </div>
	                  </div>
	                  <div class="col-md-7">
	                     <div class="form-group">
	                        <label for="MiddleName">Optional (Please indicate...)</label>
	                        <input class="form-control" type="text"  name="optional_age" v-model="records_data.optional_employed" v-if="(records_data.employed == 'Optional')"/>
                          <input class="form-control" type="text"  name="optional_age" v-model="records_data.optional_employed" disabled v-else/>
	                     </div>
	                  </div>
		              </div>	
		              <div class="row">	
		              	<div class="col-md-4">
	                     <div class="form-group">
	                        <label for="MiddleName">Sex</label>
	                        <select v-model="records_data.sex" class="form-control" required>
	                        	<option value="Male">Male</option>
	                        	<option value="Female" >Female</option>
	                        </select>
	                     </div>
	                  </div>
	                  <div class="col-md-4">
	                     <div class="form-group">
	                        <label for="MiddleName">PWD</label>
	                        <select v-model="records_data.pwd" class="form-control" required>
	                        	<option value="No">No</option>
	                        	<option value="Yes" >Yes</option>
	                        </select>
	                     </div>
	                  </div>
	                  <div class="col-md-4">
	                     <div class="form-group">
	                        <label for="MiddleName">Relationship Status</label>
	                        <select v-model="records_data.relationship_status" class="form-control" required>
	                        	<option value="Single">Single</option>
	                        	<option value="Married" >Married</option>
	                        	<option value="Divorced">Divorced</option>
	                        	<option value="Separated">Separated</option>
	                        </select>
	                     </div>
	                  </div>
		              </div>	
		              <button class="btn btn-success" id="btnSubmit">Update Record</button>
	            	</form>
	            </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
         </div>
     </div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
 .ladda-button {
      padding: 7px 15px;
 }
</style>
<script type="text/javascript">

 export default{
   data(){
     return{
       records_data: {
  			full_name: '',
  			barangay: 'Abo',
  			age: '15-20',
  			optional_age: '',
  			employed: 'Student',
  			optional_employed: '',
  			sex:'Male',
  			pwd: 'No',
  			relationship_status: 'Single',
  		},
  		barangay:[],
  		id:''
    }
   },
   mounted(){
    this.id = this.$route.params.id.replace(/\$st/g,"/");
    this.getBarangay()
    this.setContent()
   },
   methods: {
   	getBarangay(){
	  		const url = `${base_url}/Records/get_barangay`;
        axios.get(url)
			  .then((response) => {
           this.barangay = response.data.brgy;
        })
			  .catch(function (error) {
			    console.log(error);
			  });
	  	},
     submitForm () {
      confirm_alert('The user will be updated','','info').then((response) => {
        var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
        l.start();
        let records_data =  JSON.stringify(this.records_data);
        let url = base_url+'Records/edit';
        axios.post(url, {
           token: getCookie('csrf_token'),
           records_data: records_data,
           id: this.id
         })
         .then((response) => {
           if(response.data.message=="success") {
               l.stop();
               $("#btnSubmit").removeClass('ladda-button');
               swal("Updated Successfully","","success");
               setTimeout(()=>{
                window.location.href = base_url +"admin/Dashboard#/view_records"
               },2000)
           }
           else {
            console.log(response.data.message);
           }
         })
         .catch(function (error) {
           console.log(error);
         });
      });
      
     },
     setContent(){
      const url = `${base_url}/Records/get_record/?q=${escape(this.id)}`;
       axios.get(url)
       .then((response) => {
         var contents = response.data.record;
         contents.map((item, index) => {
          this.records_data.full_name = item.full_name
          this.records_data.barangay = item.barangay
          this.records_data.age = item.age 
          this.records_data.optional_age = item.optional_age 
          this.records_data.employed = item.employed
          this.records_data.optional_employed = item.optional_employed 
          this.records_data.sex = item.sex 
          this.records_data.pwd = item.pwd 
          this.records_data.relationship_status = item.relationship_status 
         })
         close_loading();       
       })
       .catch(function (error) {
         console.log(error);
       });
     }
   }
 }
</script>