<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       	Manage Records
        <small>View List</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="col-md-8">
    			<!-- Form Element sizes -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">List of Records</h3>
            </div>
            <div class="box-body">
            	<table id="tbl_records" class="table table-bordered table-striped">
                <thead>
                <tr>
                	<th>Row</th>
                  <th>Full Name</th>
                  <th>Barangay</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(val, index) in rows" :key="index" :class="`row${index}`">
                  <td>{{++index}}</td>
                  <td>{{val.full_name}}</td>
                  <td>{{val.barangay}}</td>
                  <td>
                  	<button class="btn btn-default" @click="edit(val.id)"><i class="fa fa-edit" ></i></button>
                  	<button class="btn btn-default" @click="deleteRecord(val.id)"><i class="fa fa-times" ></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
    		</div>
    	</div>
    </section>
  </div>
</template>
<script type="text/javascript">
	export default{
	  data(){
	    return{
        rows: [],
			}
	  },
	  mounted () {
      loading()
	  	this.setTable();
      setTimeout(()=>{
        close_loading()
      },1000)
	  },
	  methods: {
	  	setTable() {
        const url = `${base_url}/Records/get_records`;
        axios.get(url)
			  .then((response) => {
           this.rows = response.data.records;
          setTimeout(() => {
          	 $('#tbl_records').DataTable()
          })
        })
			  .catch(function (error) {
			    console.log(error);
			  });
	  	},
	  	edit(id) {
	  		this.$router.push(`/edit_record/${escape(id).replace(/\//g,"$st")}`);
	  	},
	  	deleteRecord(id) {
	  		confirm_alert('Are you sure?','You won\'t be able to revert this! ','warning').then((response) => {
 		  		const url = `${base_url}Records/delete`;
 	        axios.post(url,{
 	        	 token: getCookie('csrf_token'),
 				       id: id
 	        })
   				  .then((response) => {
    						location.reload();
    	    })
   				  .catch(function (error) {
   				    console.log(error);
   				  });
 				});
	  	}
   }
	}
</script>