<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Users
        <small>Add new user</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<div class="col-md-6">
	          <!-- Input addon -->
	          <div class="box box-success">
	            <!-- <div class="box-header with-border">
	              <h3 class="box-title">Input Addon</h3>
	            </div> -->
	            <div class="box-body">
              <form action="#"  @submit.prevent="submitForm()" autocomplete="off">
                <div class="row">
                 <div class="col-md-12">
                  <h4 >Personal Information</h4>
                 </div>
                 <div class="col-md-12">
	                  <div class="form-group">
	                    <label for="LastName">Full Name</label>
	                    <input class="form-control" data-val="true" id="full_name" name="full_name" v-model="user_data.full_name" type="text" required />
	                  </div>
	                </div>
                </div>
                <div class="row"> 
                 <div class="col-md-6">
                  <div class="form-group">
                        <label for="MiddleName">Contact Number</label>
                        <input class="form-control"id="middle_name" name="contact_number" type="text"  v-model="user_data.contact_number" />
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="MiddleName">Email</label>
                        <input class="form-control" id="middle_name" name="email" type="email"   v-model="user_data.email" required  />
                     </div>
                  </div>
                </div> 
                <div class="row"> 
                 <div class="col-md-12">
                  <h4 >Account Information</h4>
                 </div>
                 <!-- <div class="col-md-5">
                   <div class="form-group">
                        <label for="LastName">Username <small>(Click generate for reference no.)</small></label>
                         <input type="text" class="form-control" v-model="user_data.username" readonly="" required>
                     </div>
                  </div> -->
                  <div class="col-md-5">
                   <div class="form-group">
                        <label for="LastName">Username </label>
                         <input type="text" class="form-control" v-model="user_data.username"  required>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group">
                        <label for="LastName">Password</label>
                        <input class="form-control" data-val="true" id="last_name" name="last_name" type="text"  v-model="user_data.password"   />
                     </div>
                  </div>
                </div> 
                <button class="btn btn-success" id="btnSubmit">Add User</button>
              </form>
             </div>
             <!-- /.box-body -->
	            <!-- /.box-body -->
	          </div>
	          <!-- /.box -->
	        </div>
    	</div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
	.ladda-button {
		    padding: 7px 15px;
	}
</style>
<script type="text/javascript">

	export default{
	  data(){
     return{
       user_data: {
        full_name: '',
        contact_number:'',
        email: '',
        username: '',
        role: ''
       },
       username: ''

    }
   },
	  mounted(){
	  },
	  methods: {
	    submitForm () {
	    	confirm_alert('The user will be added','','info').then((response) => {
	    			var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
			    	l.start();
			    	let user_data =  JSON.stringify(this.user_data);
			    	let url = base_url+'Users/add';
				  	axios.post(url, {
			        token: getCookie('csrf_token'),
			        user_data: user_data
			      })
			      .then((response) => {
			        if(response.data.message=="success") {
			            l.stop();
			            $("#btnSubmit").removeClass('ladda-button');
			            swal("Added Successfully","","success");
			            setTimeout(()=>{
			            	window.location.href = base_url +"admin/Dashboard#/view_users"
			            },2000)
			        }
			        else {
			        	console.log(response.data.message);
			        }
			      })
			      .catch(function (error) {
			        console.log(error);
			      });
	    	});
	    	
	    },
	    generate(){
	    	const url = `${base_url}/Users/generate_reference_number`;
        axios.get(url)
        .then((response) => {
            this.user_data.reference_number =response.data.reference_number;
        })
        .catch(function (error) {
          console.log(error);
        });
	    }
	  }
	}
</script>