<template>
  <div class="fluid container">
    <div class="row">
      <div class="col-md-12">
        <div class="adder">
          <input type="text" class="input" placeholder="Add items in your list" v-model="data"/>
          <span class="add" @click="add">+</span>
        </div>
      </div>
      <div  class="col-md-4">
          <h2>IN PROGRESS</h2>
          <draggable class="list-group" element="ul" v-model="list" :options="dragOptions" :move="onMove" @start="isDragging=true" @end="isDragging=false"> 
            <transition-group type="transition" :name="'flip-list'">
              <li class="list-group-item" v-for="(element, index) in list" :key="index"> 
                {{element.name}}
              </li> 
            </transition-group>
        </draggable>
      </div>

      <div  class="col-md-4">
        <h2>DONE</h2>
        <draggable element="span" v-model="done" 
          :options="{
            animation: 0,
            group: 'description',
            disabled: !this.editable,
            ghostClass: 'ghost',
            status: 'done',
            }" 
            :move="onMove" > 
            <transition-group name="no" class="list-group" tag="ul">
              <li class="list-group-item" v-for="(element, index) in done" :key="index"> 
                {{element.name}}
              </li> 
            </transition-group>
        </draggable>
      </div>

      <div  class="col-md-4">
        <h2>CLOSED</h2>
        <draggable element="span" v-model="closed" :options="{
            animation: 0,
            group: 'description',
            disabled: !this.editable,
            ghostClass: 'ghost',
            status: 'closed'
            }" 
            :move="onMove"> 
            <transition-group name="no" class="list-group" tag="ul">
              <li class="list-group-item" v-for="(element, index) in closed" :key="index"> 
                {{element.name}}
              </li> 
            </transition-group>
        </draggable>
      </div>
    </div>
  </div>
</template>

<script>
import draggable from 'vuedraggable'
const message = [
          {
            name: 'vue.draggable',
            status: 'inprogress'
          },
          {
            name: 'draggable',
            status: 'inprogress'
          },
          {
            name: 'component',
            status: 'inprogress'
          },
          {
            name: 'hello',
            status: 'done'
          },
          {
            name: 'world',
            status: 'closed'
          },
          
        ]

export default {
  name: 'hello',
  components: {
    draggable,
  },
  data () {
    return {
      list: message.filter( data => data.status == 'inprogress'),
      done: message.filter( data => data.status == 'done'),
      closed: message.filter( data => data.status == 'closed'),
      editable:true,
      isDragging: false,
      delayedDragging:false,
      data: ''
    }
  },
  methods:{
    onMove ({relatedContext, draggedContext}) {
      draggedContext.element.status = relatedContext.component.options.status
      
    }, 
    add() {
      this.list.push({name: this.data, order: this.list.length, fixed: false})
      this.data = ''
    }
  },
  computed: {
    dragOptions () {
      return  {
        animation: 0,
        group: 'description',
        disabled: !this.editable,
        ghostClass: 'ghost'
      };
    },
  },
  watch: {
    isDragging (newValue) {
      if (newValue){
        this.delayedDragging= true
        return
      }
      this.$nextTick( () =>{
           this.delayedDragging =false
      })
    }
  }
}
</script>

<style>
.flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}

.ghost {
  opacity: .5;
  background: #C8EBFB;
}

.list-group {
  min-height: 20px;
}

.list-group-item {
  cursor: move;
}

.list-group-item i{
  cursor: pointer;
}
ul.list-group {
    background: #ccc;
    min-height: 50px;
}

@import url("https://fonts.googleapis.com/css?family=Raleway:300,800");
body {
  background-color: #0072ff;
}
body h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 50px;
  font-weight: normal;
}
body h2 {
  font-family: "Raleway", sans-serif;
  color: white;
}
body .adder {
  position: relative;
  width: 250px;
  margin: 0px auto 30px;
  display: block;
}
body .adder ::-webkit-input-placeholder {
  color: #cecece;
}
body .adder .input {
  outline: none;
  border: 1px solid white;
  background-color: #0072ff;
  color: white;
  height: 50px;
  width: 260px;
  padding-left: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  margin-left: -5px;
}
body .adder span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.6;
  cursor: pointer;
  transition: all 200ms;
  color: white;
  will-change: transform;
}
body .adder span:hover {
  transform: rotate(180deg);
}
body ul {
  padding: 0px;
}
body ul .draggable {
  will-change: transform;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  height: 50px;
  list-style-type: none;
  margin: 10px;
  background-color: white;
  color: #0072ff;
  width: 250px;
  line-height: 3.2;
  padding-left: 10px;
  cursor: move;
  transition: all 200ms;
  user-select: none;
  margin: 10px auto;
  position: relative;
}
body ul .draggable:after {
  content: "drag me";
  right: 7px;
  font-size: 10px;
  position: absolute;
  cursor: pointer;
  line-height: 5;
  transition: all 200ms;
  transition-timing-function: cubic-bezier(0.48, 0.72, 0.62, 1.5);
  transform: translateX(120%);
  opacity: 0;
}
body ul .draggable:hover:after {
  opacity: 1;
  transform: translate(0);
}

.over {
  transform: scale(1.1, 1.1);
}

</style>
