<template>
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Manage Applications
        <small>Update application</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
     <div class="row">
      <div class="col-md-8">
           <!-- Input addon -->
           <div class="box box-success">
             <!-- <div class="box-header with-border">
               <h3 class="box-title">Input Addon</h3>
             </div> -->
             <div class="box-body">
              <form action="#"  @submit.prevent="submitForm()" autocomplete="off">
                     <div class="row ">
                        <div class="col-md-12">
                           <div class="form-group">
                              <h4 class="text-primary">Personal Information</h4>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label for="LastName">Last Name</label>
                              <input class="form-control" data-val="true" id="last_name" v-model="application_data.last_name" type="text" value="" required  />
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label for="FirstName">Given Name</label>
                              <input class="form-control" id="first_name" v-model="application_data.first_name" type="text" value="" required />
                           </div>
                        </div>
                        <div class="col-md-3">
                           <div class="form-group">
                              <label for="MiddleName">Middle Name</label>
                              <input class="form-control"id="middle_name" v-model="application_data.middle_name" type="text" value=""  />
                           </div>
                        </div>
                        <div class="col-md-1">
                           <div class="form-group">
                              <label for="MiddleName">Suffix</label>
                              <input class="form-control" type="text" value="" v-model="application_data.suffix" />
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <label for="Address">House No./Street</label>
                              <input class="form-control"  id="address" v-model="application_data.address" type="text" value="" />
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <label for="Address">Subdivision</label>
                              <input class="form-control" id="subdivision" v-model="application_data.subdivision" type="text" value="" />
                           </div>
                        </div>
                        <div class="col-md-5">
                           <div class="form-group">
                              <label for="Province">Barangay/Town</label>
                              <input class="form-control" type="text" v-model="application_data.town" value="" />
                           </div>
                        </div>
                        <div class="col-md-5">
                           <div class="form-group">
                              <label for="City">Province/City</label>
                              <input class="form-control" type="text" v-model="application_data.city" value="" />
                           </div>
                        </div>
                        <div class="col-md-2">
                           <div class="form-group">
                              <label for="City">Postal Code</label>
                              <input class="form-control" type="text" v-model="application_data.postal_code" value="" />
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <label for="Birthday">Birthday</label>
                              <input class="form-control" id="Birthday" v-model="application_data.birthday" type="date" value="" required />
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <label for="BirthPlace">Birth Place</label>
                              <input class="form-control" id="BirthPlace" v-model="application_data.birth_place" type="text" value="" required />
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <label for="LandlineNo">Landline No</label>
                              <input class="form-control" id="LandlineNo" v-model="application_data.landline" type="text" value="" />
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <label for="MobileNo">Mobile No</label>
                              <input class="form-control" id="MobileNo" v-model="application_data.mobile" type="text" value="" />
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label for="Citizenship">Citizenship</label>
                              <input class="form-control" id="Citizenship" v-model="application_data.citizenship" type="text" value="" required />
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label for="CivilStatus">Civil Status</label>
                              <select class="form-control" id="statustype" v-model="application_data.civil_status" >
                                 <option value="SINGLE">Single</option>
                                 <option value="SEPERATED">Seperated</option>
                                 <option value="MARRIED">Married</option>
                                 <option value="DIVORCED">Divorced</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label for="Religion">Religion</label>
                              <input class="form-control" id="Religion" v-model="application_data.religion" type="text" value="" />
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <label for="EmailAddress">Email Address</label>
                              <input class="form-control"  id="EmailAddress" v-model="application_data.email" type="text" value="" required/>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <label for="Gender">Gender</label>
                              <select class="form-control" id="Gender" v-model="application_data.gender">
                                 <option value="M">Male</option>
                                 <option value="F">Female</option>
                              </select>
                           </div>
                        </div>
                     </div>
                     <div class="row ">
                        <div class="col-md-6">
                           <div class="form-group">
                              <h4 class="text-primary">Father's Information</h4>
                           </div>
                           <div class="form-group">
                              <label for="FatherName">Father&#39;s Name</label>
                              <input class="form-control"  id="FatherName" v-model="application_data.father_name" type="text" value="" />
                           </div>
                           <div class="form-group">
                              <label for="FatherContact">Father&#39;s Contact No</label>
                              <input class="form-control"  id="FatherContact" v-model="application_data.father_contact" type="text" value="" />
                           </div>
                           <div class="form-group">
                              <label for="FatherEmail">Father&#39;s Email</label>
                              <input class="form-control" id="FatherEmail" v-model="application_data.father_email" type="text" value="" />
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <h4 class="text-primary">Mother's Information</h4>
                           </div>
                           <div class="form-group">
                              <label for="MotherName">Mother&#39;s Name</label>
                              <input class="form-control" id="MotherName" v-model="application_data.mother_name" type="text" value="" />
                           </div>
                           <div class="form-group">
                              <label for="MotherContact">Mother&#39;s Contact No</label>
                              <input class="form-control" id="MotherContact" v-model="application_data.mother_contact" type="text" value="" />
                           </div>
                           <div class="form-group">
                              <label for="MotherEmail">Mother&#39;s Email</label>
                              <input class="form-control " id="MotherEmail" v-model="application_data.mother_email" type="text" value="" />
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="form-group">
                              <label for="MotherName">Number of Siblings</label>
                              <input class="form-control" data-val="true" id="MotherName" v-model="application_data.no_sibling" type="text" value="" />
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="form-group">
                              <h4 class="text-primary">Guardian's Information</h4>
                           </div>
                           <div class="form-group">
                              <label for="GuardianName">Guardian&#39;s Name</label>
                              <input class="form-control" id="GuardianName" v-model="application_data.guardian_name" type="text" value="" />
                           </div>
                           <div class="form-group">
                              <label for="GuardianAddress">Guardian&#39;s Address</label>
                              <input class="form-control"id="GuardianAddress" v-model="application_data.guardian_address" type="text" value="" />
                           </div>
                           <div class="form-group">
                              <label>Relationship to Guardian</label>
                              <input class="form-control" id="RelationshipToGuardian" v-model="application_data.guardian_relationship" type="text" value="" />
                           </div>
                           <div class="form-group">
                              <label for="GuardianContactNo">Guardian Contact No</label>
                              <input class="form-control"  id="GuardianContactNo" v-model="application_data.guardian_contact" type="text" value="" />
                           </div>
                        </div>
                     </div>
                     <div class="row ">
                        <div class="col-md-12">
                           <div class="form-group">
                              <h4 class="text-primary">Educational Data</h4>
                           </div>
                           <div class="form-group">
                              <label for="FormerSchool">School Last Attended</label>
                              <input class="form-control"  id="FormerSchool" v-model="application_data.former_school" type="text" value="" />
                           </div>
                           <div class="row">
                              <div class="col-md-6">
                              <div class="form-group">
                                 <label for="Former_School_Type">Program (Transferee only):</label>
                                 <input class="form-control" id="FormerSchool" v-model="application_data.program" type="text" value="" />
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <label for="Former_School_Type">School Year</label>
                                 <input class="form-control"id="FormerSchool" v-model="application_data.school_year" type="text" value="" />
                              </div>
                           </div>
                           </div>
                           <div class="form-group">
                              <label for="FormerSchoolAddress">School Address</label>
                              <input class="form-control"  id="FormerSchoolAddress" v-model="application_data.school_address" type="text" value="" />
                           </div>
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label for="GPA">General Weighted Average 1st sem</label>
                                    <input class="form-control"  id="GPA" v-model="application_data.gwa_first" type="text" value="" />
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label for="GPA">General Weighted Average 2nd sem</label>
                                    <input class="form-control" id="GPA" v-model="application_data.gwa_second" type="text" value="" />
                                 </div>
                              </div>
                           </div>
                           <label for="GPA">Senior High School Track (To be completed by college freshmen applicant):</label>
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <select class="form-control" v-model="application_data.track_type">
                                       <option value="ACADEMIC">Academic</option>
                                       <option value="ARTS AND DESIGN">Arts and Design</option>
                                       <option value="SPORTS">Sports</option>
                                       <option value="TECHNOLOGY-VOCATIONAL-LIVELIHOOD">Technology-Vocational-Livelihood</option>
                                    </select>   
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <select class="form-control" v-model="application_data.track_sub_type">
                                       <option value="STEM">STEM</option>
                                       <option value="ABM">ABM</option>
                                       <option value="HUMSS">HUMSS</option>
                                       <option value="GA">GA</option>
                                       <option value="HOME ECONOMICS">Home Economics</option>
                                       <option value="AGRI-FISHERY">Agri-Fishery</option>
                                       <option value="INDUSTRIAL ARTS">Industrial Arts</option>
                                       <option value="INFORMATION AND COMMUNICATIONS TECHNOLOGY">Information and Communications Technology</option>
                                    </select>   
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <label for="HonorsReceived">Honors Received</label>
                              <input class="form-control" id="HonorsReceived" v-model="application_data.honors" type="text" value="" />
                           </div>
                        </div>
                     </div>
                     <div class="row ">
                        <div class="col-md-12">
                           <div class="form-group">
                              <h4 class="text-primary">Reasons for applying at Letran Calamba?</h4>
                           </div>
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="checkbox">
                                       <label><input  v-model="application_data.apply_reason" type="checkbox" value="QUALITY EDUCATION" />Quality Education</label>
                                    </div>
                                    <div class="checkbox">
                                       <label><input  v-model="application_data.apply_reason" type="checkbox" value="AFFORDABILITY" />Affordability</label>
                                    </div>
                                    <div class="checkbox">
                                       <label><input  v-model="application_data.apply_reason" type="checkbox" value="GOOD FACILITIES" />Good Facilities</label>
                                    </div>
                                    <div class="checkbox">
                                       <label><input  v-model="application_data.apply_reason" type="checkbox" value="PROXIMITY" />Proximity</label>
                                    </div>
                                    <div class="checkbox">
                                       <label><input  v-model="application_data.apply_reason" type="checkbox" value="AVAILABILITY OF PROGRAM" />Availability of Program</label>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="checkbox">
                                       <label><input  v-model="application_data.apply_reason" type="checkbox" value="RECOMMENDED BY SCHOOL" />Recommended by School</label>
                                    </div>
                                    <div class="checkbox">
                                       <label><input  v-model="application_data.apply_reason" type="checkbox" value="COMPETENT PROFESSORS" />Competent Professors</label>
                                    </div>
                                    <div class="checkbox">
                                       <label><input  v-model="application_data.apply_reason" type="checkbox" value="CAMPUS ENVIRONMENT" />Campus Environment</label>
                                    </div>
                                    <div class="checkbox">
                                       <label><input  v-model="application_data.apply_reason" type="checkbox" value="ALUMNUS" />Alumnus</label>
                                    </div>
                                 </div>
                              </div>
                              <div class="checkbox">
                                 <label>Others</label>
                              </div>
                              <input class="form-control" id="Q7" v-model="application_data.apply_others" style="font-size:16px;" type="text" value="" />                            
                           </div>
                        </div>
                     </div>
                     <div class="row ">
                        <div class="col-md-12">
                           <div class="form-group">
                              <h4 class="text-primary">How did you come to know about Letran Calamba? Through</h4>
                           </div>
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="checkbox">
                                       <label><input  v-model="application_data.referal" type="checkbox" value="STUDENTS OF LETRAN" />Students of Letran</label>
                                    </div>
                                    <div class="checkbox">
                                       <label><input  v-model="application_data.referal" type="checkbox" value="EMPLOYEES OF LETRAN" />Employees of Letran</label>
                                    </div>
                                    <div class="checkbox">
                                       <label><input  v-model="application_data.referal" type="checkbox" value="FACULTY OF LETRAN" />Faculty of Letran</label>
                                    </div>
                                    <div class="checkbox">
                                       <label><input  v-model="application_data.referal" type="checkbox" value="NEWSPAPER ADS" />Newspaper Ads</label>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                     <div class="checkbox">
                                       <label><input  v-model="application_data.referal" type="checkbox" value="BILLBOARDS" />Billboards</label>
                                    </div>
                                    <div class="checkbox">
                                       <label><input  v-model="application_data.referal" type="checkbox" value="STREAMERS" />Streamers</label>
                                    </div>
                                    <div class="checkbox">
                                       <label><input  v-model="application_data.referal" type="checkbox" value="CAREER ORIENTATION / TALK" />Career Orientation / Talk</label>
                                    </div>
                                 </div>
                              </div>
                              <div class="checkbox">
                                 <label>Others</label>
                              </div>
                              <input class="form-control" id="Q7" v-model="application_data.referal_others" style="font-size:16px;" type="text" />                            
                           </div>
                        </div>
                     </div>
                <button class="btn btn-success" id="btnSubmit">Update User</button>
              </form>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->
         </div>
         <div class="col-md-4">
          <div class="box box-success">
             <div class="box-header with-border">
               <h3 class="box-title">Files</h3>
             </div>
             <div class="box-body">
              <a :href="application_data.id_picture" download><p>1x1 recent ID picture</p></a>
              <a :href="application_data.certificate_of_candidacy" download><p>Certificate of Candidacy for Promotion of Graduation</p></a>
              <a :href="application_data.nso_psa" download><p>Photocopy of NSO/PSA Authenticated Birth Certificate</p></a>
              <a :href="application_data.report_card" download><p>Photocopy of Report Card (Form 138)</p></a>
              <a :href="application_data.copy_of_grade" download><p>Photocopy Certified True Copy of Grades</p></a>
             </div>
           </div>
         </div>
     </div>
    </section>
  </div>
</template>
<style type="text/css">
.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 46px;
}
 .ladda-button {
      padding: 7px 15px;
 }
</style>
<script type="text/javascript">

 export default{
   data(){
     return{
       application_data: {
        last_name: '',
        first_name: '',
        middle_name: '',
        suffix: '',
        address: '',
        subdivision:'',
        postal_code:'',
        city:'',
        town:'',
        birthday:'',
        birth_place:'',
        landline:'',
        mobile:'',
        citizenship:'',
        civil_status:'',
        religion:'',
        email: '',
        gender:'',
        father_name:'',
        father_contact:'',
        father_email:'',
        mother_name:'',
        mother_contact:'',
        mother_email:'',
        no_sibling:'',
        guardian_name:'',
        guardian_address:'',
        guardian_relationship:'',
        guardian_contact:'',
        former_school:'',
        program:'',
        school_year:'',
        school_address:'',
        gwa_first:'',
        gwa_second:'',
        track_type:'',
        track_sub_type:'',
        honors:'',
        apply_reason:[],
        apply_others:'',
        referal:[],
        referal_others:'',
        id_picture:'',
        certificate_of_candidacy:'',
        nso_psa:'',
        report_card:'',
        copy_of_grade:'',
        created_at:''
       },
       application_id: ''

    }
   },
   mounted(){
    this.application_id = this.$route.params.id.replace(/\$st/g,"/");
    this.setContent()
   },
   methods: {
     submitForm () {
      confirm_alert('The application will be updated','','info').then((response) => {
        var l = Ladda.create( document.querySelector( '#btnSubmit' ) );
        l.start();
        let application_data =  JSON.stringify(this.application_data);
        let url = base_url+'Applications/edit';
        axios.post(url, {
           token: getCookie('csrf_token'),
           application_data: application_data,
           application_id: this.application_id
         })
         .then((response) => {
           if(response.data.message=="success") {
               l.stop();
               $("#btnSubmit").removeClass('ladda-button');
               swal("Updated Successfully","","success");
               setTimeout(()=>{
                window.location.href = base_url +"admin/Dashboard#/view_applications"
               },2000)
           }
           else {
            console.log(response.data.message);
           }
         })
         .catch(function (error) {
           console.log(error);
         });
      });
      
     },
     setContent(){
      const url = `${base_url}/Applications/get_application/?q=${escape(this.application_id)}`;
       axios.get(url)
       .then((response) => {
         var contents = response.data.application;
         contents.map((item, index) => {
          this.application_data.last_name = item.last_name
          this.application_data.first_name = item.first_name
          this.application_data.middle_name = item.middle_name
          this.application_data.suffix = item.suffix
          this.application_data.address = item.address
          this.application_data.subdivision = item.subdivision
          this.application_data.postal_code = item.postal_code
          this.application_data.city = item.city
          this.application_data.town = item.town
          this.application_data.birthday = item.birthday
          this.application_data.birth_place = item.birth_place
          this.application_data.landline = item.landline
          this.application_data.mobile = item.mobile
          this.application_data.citizenship = item.citizenship
          this.application_data.civil_status = item.civil_status
          this.application_data.religion = item.religion
          this.application_data.email = item.email
          this.application_data.gender = item.gender
          this.application_data.father_name = item.father_name
          this.application_data.father_contact = item.father_contact
          this.application_data.father_email = item.father_email
          this.application_data.mother_name = item.mother_name
          this.application_data.mother_contact = item.mother_contact
          this.application_data.mother_email = item.mother_email
          this.application_data.no_sibling = item.no_sibling
          this.application_data.guardian_name = item.guardian_name
          this.application_data.guardian_address = item.guardian_address
          this.application_data.guardian_relationship = item.guardian_relationship
          this.application_data.guardian_contact = item.guardian_contact
          this.application_data.former_school = item.former_school
          this.application_data.program = item.program
          this.application_data.school_year = item.school_year
          this.application_data.school_address = item.school_address
          this.application_data.gwa_first = item.gwa_first
          this.application_data.gwa_second = item.gwa_second
          this.application_data.track_type = item.track_type
          this.application_data.track_sub_type = item.track_sub_type
          this.application_data.honors = item.honors
          this.application_data.apply_reason = item.apply_reason.split(',')
          this.application_data.apply_others = item.apply_others
          this.application_data.referal = item.referal.split(',')
          this.application_data.referal_others = item.referal_others
          this.application_data.id_picture = base_url+"uploads/"+item.id_picture
          this.application_data.certificate_of_candidacy = base_url+"uploads/"+item.certificate_of_candidacy
          this.application_data.nso_psa = base_url+"uploads/"+item.nso_psa
          this.application_data.report_card = base_url+"uploads/"+item.report_card
          this.application_data.copy_of_grade = base_url+"uploads/"+item.copy_of_grade
          this.application_data.created_at = item.created_at
         })
         close_loading();       
       })
       .catch(function (error) {
         console.log(error);
       });
     }
   }
 }
</script>