<template>
	<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Dashboard
        <small></small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Users</span>
              <span class="info-box-number" v-html="num_users"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-edit"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Records</span>
              <span class="info-box-number" v-html="num_records"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
  </div>
</template>
<script type="text/javascript">
  export default{
    data(){
     return {
     	num_users: 0,
     	num_records: 0

     } 
    },
    mounted(){
      loading()
      this.getData()
      setTimeout(()=>{
        close_loading()
      },1000)
    },
    methods: {
    	getData(){
    		const url = `${base_url}/Dashboard/get_dashboard_data`;
        axios.get(url)
	     .then((response) => {
	     	console.log(response)
	        this.num_users = response.data.num_users;
	        this.num_records = response.data.num_records;
	      })
	     .catch(function (error) {
	       console.log(error);
	     });
    	}
    }
  }
</script>