<template>
		 <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="">
          	<router-link :to="{ name: '/' }" class=""><i class="fa fa-dashboard"></i>
		                    Dashboard</router-link>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i> <span>Manage Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ name: '/add_users' }" class=""><i class="fa fa-circle-o"></i>
                    <span>Add</span></router-link>
            </li>
            <li>
          		<router-link :to="{ name: '/view_users' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View List</span></router-link>
          	</li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-book"></i> <span>Manage Records</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ name: '/add_record' }" class=""><i class="fa fa-circle-o"></i>
                    <span>Add</span></router-link>
            </li>
            <li>
          		<router-link :to="{ name: '/view_records' }" class=""><i class="fa fa-circle-o"></i>
                    <span>View List</span></router-link>
          	</li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>